<!-- <div class="modeler">
  <div #canvas id="canvas"></div>
  <div #jsproperteispanel id="jsproperteispanel" style="background-color: red;"></div>

</div> -->

<!-- <div class="row" style="width:100%; height: 600px">
  <div id="canvas" style="float:left;width:75%;height:100%">
  </div>
  <div id="jsproperteispanel" style="float:right;width:20%;height: 900px;overflow: scroll"></div>
</div> -->
<div id="bpmneditor"></div>

<mat-toolbar color="primary" style="height: 60px">
  <button
    mat-icon-button
    (click)="drawer.toggle()"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span>荔云ESG</span>
  <span class="example-spacer"></span>

  <div style="text-align: right; width: 100%">
    <lib-employee-role-select></lib-employee-role-select>

    <a
      [matMenuTriggerFor]="menu1"
      mat-icon-button
      style="font-size: 14px; cursor: pointer; padding:10px"
    >
      <img
        *ngIf="curUser?.attributes?.avatar"
        class="avatar"
        src="{{ curUser?.attributes?.avatar[0] }}"
        alt="注销"
      />
      <img
        *ngIf="!curUser?.attributes?.avatar"
        class="avatar"
        src="../assets/participant_img_default_man.png"
        alt="注销"
      />
    </a>
    <!-- <mat-form-field style="font-size: 12px; width: 120px">
      <mat-label>当前身份</mat-label>
      <mat-select
        [(value)]="organizationRoleId"
        (selectionChange)="onChange($event)"
        placeholder="切换组织"
      >
        <mat-option
          *ngFor="let food of curUser?.roles"
          [value]="food.id.organizationRoleId"
        >
        {{ food.role.name }} ({{ food.org.name }})
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-menu #menu1="matMenu">
      <button mat-menu-item (click)="logout()" color="accent">注销</button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-drawer-container
  class="example-container"
  [hasBackdrop]="false"
  style="height: calc(100vh - 60px)"
>
  <mat-drawer #drawer mode="side" opened class="left">
    <lib-menu-tree></lib-menu-tree>
  </mat-drawer>
  <mat-drawer-content>
    <div
      style="
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 30px;
      "
    >
      <spr-sparrow-breadcrumb></spr-sparrow-breadcrumb>
    </div>
    <div
      style="
        padding: 10px;
        width: calc(100% - 20px);
        height: calc(100vh - 130px);
      "
    >
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
